html {
    height: 100%;
    margin-bottom: 0;
}

body {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.sign-in-btn {
    background-color: #1a73e8;
    color: white;
    padding: 9px 23px;
    border: 1px solid transparent;
    border-radius: 4px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 9px;
    margin-right: 9px;
    min-width: 96px;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

nav {
    display: flex;
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    font-family: Arial, Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

nav a {
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

#apps {
    color: #5f6368;

}

#search-bar {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    height: 44px;
    width:auto;
    max-width: 584px;
    flex: 1;
}

#logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

#logo-container {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

#logo-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

#search-icon {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 24px;
    position: relative;
    margin: auto;
    margin-left: 10px;
}

#search-bar-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#search {
    flex: 100%;
    white-space: pre;
    height: 34px;
    border: none;
    background-color: transparent;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 16px;
    outline: none;
}

#search-div-container {
    padding: 20px;
}

#search-buttons-container {
    padding-top: 18px;
    height: 70px;
}

#search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#lucky-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#keyboard-img-container {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;

}

#tia-span{
    background: url('https://www.gstatic.com/inputtools/images/tia.png') no-repeat center;
    height: 24px;
    width: 24px;
    line-height: 44px;
    margin-right: 15px;
}

#tia {
    visibility: hidden;
}

#empty-box {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

#footer-container {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

#country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

#last-bar-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    background: #f2f2f2;
}

#about-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

#last-bar-container a {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

#privacy-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}